build/msvc*/obj
build/msvc*/Debug
build/msvc*/Release
build/Xcode/build
*.ncb
*.suo
*.vcproj.*.user
*.mode1v3
*.mode2v3
*.pbxuser
xcuserdata
xcshareddata
nbproject
*.xcworkspace

*.kdev*
Doxyfile
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
*.cmake.user
CMakeLists.txt.user*
/openlierox.cbp

# CLion JetBrains IDE
# It just uses CMake - don't add the temporary stuff.
/.idea

bin
*~
.*.swp
.history*
*.autosave
*.build
*.o
libopenlierox_pch_dephelp.a
*-build
build-*
!build-android.sh
!build-output/
!build/android/
# Vendored third-party code under build/android/deps/ uses "build-" prefixes
# legitimately (e.g. build-template.gradle, build-scripts/, build-common.sh).
!build/android/deps/**/build-*

# Android port build artefacts inside the vendored commandergenius tree
build/android/deps/project/obj/
build/android/deps/project/libs/
build/android/deps/project/build/
build/android/deps/project/app/build/
build/android/deps/project/bin/
build/android/deps/project/.gradle/
build/android/deps/project/local.properties
build/android/deps/project/jni/*/build/
build/android/deps/project/jni/openssl/lib/
build/android/deps/project/jni/iconv/lib/
build/android/deps/project/jni/boost/lib/
build/android/deps/project/jni/boost/include/
build/android/deps/project/assets/data.zip.xz
build/android/deps/project/app/src/main/assets/
# openlierox application dir is overlaid from this repo at build time
build/android/deps/project/jni/application/openlierox/
build/android/deps/project/jni/application/src
build/android/deps/AndroidAppSettings.cfg.lock

# this one is automatically created by CMake
gamedecompiler.xcodeproj

*.idb
*.pdb
*.pyc
*.log
*.dSYM

configure-stamp
build-stamp
PrecompiledHeader.*
*openlierox_pch_dephelp.*

distrib
